# Environnement virtuel
myenv/

# Dossiers de modèles temporaires ou persistants
temp_model/
model/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*.pyo

# Sauvegardes et fichiers temporaires
*.bak
*.swp

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/

# Images
*.png

# Autres fichiers cachés ou inutiles
.env
.DS_Store
