# -----------------------------
# Deep Learning & Transformers
# -----------------------------
torch==2.7.1
transformers==4.50.0

# -----------------------------
# Traitement de données & Évaluation
# -----------------------------
datasets==2.19.1
evaluate==0.4.2
joblib==1.4.2
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1

# -----------------------------
# NLP
# -----------------------------
nltk==3.9.1

# -----------------------------
# API avec Flask
# -----------------------------
flask==3.0.3
flask-cors==4.0.1        # Pour activer le CORS si besoin
requests==2.32.2         # Client HTTP (tests, appels API internes)

# -----------------------------
# Serveur WSGI pour production
# -----------------------------
gunicorn==23.0.0

# -----------------------------
# Azure SDK
# -----------------------------
azure-storage-blob==12.19.1

# -----------------------------
# Tests & développement
# -----------------------------
pytest==8.3.4

# -----------------------------
# Autres dépendances
# -----------------------------
zipp==3.21.0
